/* x5 */

@font-face {
	font-family: 'CircularStdBold';
	src: url('../fonts/CircularStdBold.eot');
	src: local('CircularStdBold'), url('../fonts/CircularStdBold.woff') format('woff'), url('../fonts/CircularStdBold.ttf') format('truetype');
}
@font-face {
	font-family: 'proxima nova';
	src: url('../fonts/proximanova.otf');
	src: local('proximanova'), url('../fonts/proximanova.otf') format('opentype');
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(245, 246, 250,1.0);
	font-family: var(--family);
}
:root {
	--cor-dark: rgba(61, 61, 61,1.0);
	--cor-ok: rgba(50, 255, 126,1.0);
	--cor-not: rgba(255, 77, 77,1.0);
	--family: "CircularStdBold";
	--family-2: "segoe ui light";
	--box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.bar {
	background-color: rgba(84, 109, 229,0.8);
	background-image: url(../img/pic.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100%;
	right: 2rem;
	top: 2rem;
	position: fixed;
	width: 16rem;
	box-shadow: var(--box-shadow);
}
.pic {
	background-color: rgba(210, 218, 226,1.0);
	background-image: url(../img/pic.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	border-radius: 16px;
	margin: -10px;
	height: 8rem;
	width: calc(100% + 20px);
	position: absolute;
	font-family: var(--family-2);
}
.text-x5 {
	padding-top: 20px;
	padding-left: 65px;
	font-size: 4em;
	font-weight: bold;
	color: #03050c;
	opacity: .8;
}
.footer {
	width: calc(100% - 18rem);
	height: 3.5rem;
	background-color: rgba(220, 221, 225,1.0);
	bottom: 0px;
	position:  fixed;
	font-family: "proxima nova";
	padding: 25px;
	box-sizing: border-box;
	font-size: 12px;
	color: rgba(61, 61, 61,0.7);
	z-index: 1;
}
.container {
	left: 50%;
	margin-left: -683px;
	position: absolute;
}
.logo {
	font-family: var(--family-2);
	font-weight: bold;
	margin-left: 40px;
	margin-top: 20px;
	color: #000;
	font-size: 1.5rem;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	position: relative;
	float: left;
	left: 400px;
	top: -31px;
}
li a {
	display: block;
	color: var(--cor-dark);
	font-family: var(--family);
	font-weight: bold;
	text-align: center;
	font-size: .8em;
	text-transform: uppercase;
	padding: 14px 16px;
	text-decoration: none;
	transition: all .1s ease-out;
}
li a:hover:after {
	transform: scaleX(1); 
	transform-origin: 0% 50%;
}
li a:after {
	display: block;
	content: '';
	border-bottom: solid 2px rgba(84, 109, 229,1.0);  
	padding-bottom: 10px;
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}
.line {
	padding: 10px;
	font-family: var(--family);
	font-size: .8rem;
	color: rgba(61, 61, 61,0.7);
	border-top-left-radius: 4px;
	background-color: rgba(220, 221, 225,1.0);
	letter-spacing: -0.7px;
	float: left;
	position: absolute;
	top: -35px;	
	right: 0px;
}
.table-wrapper{
    margin: 10px 70px 70px;
    position: relative;
    left: 140px;
    top: -35px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.fl-table td:nth-child(7) {
    color: rgba(83, 82, 237,1.0);
    background-color: rgba(206, 214, 224,1.0);
}
.player {
	padding: 12px;
	font-family: var(--family);
	color: rgba(45, 52, 54,1.0);
	float: top;
	background-color: rgba(30, 39, 46,0.1);
	margin-top: 10px;
}
.pts {
	float: right;
}
.criterios {
	font-family: var(--family);
	font-size: .75em;
	opacity: .7;
	padding: 7px;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 20px;
	justify-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto; 
}
.gallery img {
	left: 0px;
	position: relative;
	width: 30vh;
	height: 16vh;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.gallery img:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95); 
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.modal img {
	margin: 0 auto;
	width: 80%;
	max-width: 700px;
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.5s ease;
}
.modal:target {
	display: flex;
	opacity: 1;
}
.modal:target img {
	opacity: 1;
	transform: scale(1);
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
}
.close:hover {
  	color: #bbb;
}
.modal .caption {
	color: #ccc;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .modal img {
  	width: 100%;
  }
}
.button-container {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 20px;
}
.page-btn {
	background-color: #007BFF;
	color: white;
	border: none;
	padding: 8px 15px;
	margin: 0 5px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.page-btn:hover {
	background-color: #0056b3;
}
.page-btn:link, .page-btn:visited {
	text-decoration: none; /* Remove o sublinhado */
}
